html body {
    height: 100%;
    margin: 0;
    background-color: black;
}

body > *:not(footer) {
    flex: 1 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

section {
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 20px;
}

h1, h2, h3, p, a, div, li, ol {
    color: white;
}

.page-titles {
    font-size: 50px;
    color: #2bff87;
    text-align: center;
}



/* Responsive rules */
@media (max-width: 1024px) {
    section {
        margin-right: 2%;
        margin-left: 2%;
    }

    .page-titles {
        font-size: 36px;
    }
}

